.Main {
  width: 100%;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  z-index: 1007;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.Hero h1 {
  font-family: "DM Sans";
  color: #333333;
  line-height: 30px;
}

