.Container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Main {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.FormContainer {
    padding: 16px;
}

.Header {
    display: flex;
    padding: 16px 16px 0 16px;
    width: fit-content;
}

.Secondary {
    padding: 16px;
    min-width: 300px;
    height: 100vh;
    position: sticky;
    top: 0;
    background: var(--app-container);
    border-left: 1px solid var(--thirdary-color);
}


