.Header {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 6px;
}

.Header a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    color: var(--main-color);
    transition: 0.2s ease;
    border-radius: 4px;
}

.DefaultLink:hover {
    color: var(--link-color-active-bg);
    background: var(--link-color-hover);
}

.HeaderWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 0;
}

.ActiveLink {
    background: var(--link-color-active-bg);
    color: var(--link-color-active) !important;
    border-radius: 4px;
}

.ActiveLink:hover {
  color: var(--link-color);
}
