.Container {
    width: 100%;
    display: flex;
}

.Main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Grid {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    padding: 16px;
    width: 100%;
    height: fit-content;
}

.Header {
    display: flex;
    padding: 16px 16px 0 16px;
    width: fit-content;
}

.Secondary {
    padding: 16px;
    min-width: 300px;
    max-width: 100px;
    height: 100vh;
    position: sticky;
    top: 0;
    background: var(--app-container);
    border-left: 1px solid var(--thirdary-color);
}


