.Container {
    width: 100%;
    display: flex;
}

.Main {
    display: flex;
    flex-direction: column;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; 
    padding: 16px;
    width: fit-content;
    height: fit-content;
}

.Header {
    display: flex;
    padding: 16px 16px 0 16px;
    width: fit-content;
}

.Secondary {
    padding: 16px;
    min-width: 300px;
    max-width: 100px;
    height: 100vh;
    position: sticky;
    top: 0;
    background: var(--app-container);
    border-left: 1px solid var(--thirdary-color);
}

.Project {
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--thirdary-color);
    width: 350px;
    height: 200px;
    background: var(--projects-section);
    padding: 4px 4px 4px 20px;
}

.Project::before {
    content: '';
    position: absolute;
    width: 4px;
    top: 10px; left: 8px;
    height: calc(100% - 20px);
    border-radius: 200px;
    background: var(--green);
}

