@font-face {
    font-family: "Poppins-SemiBold";
    src: url("./fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("./fonts/Poppins-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@font-face {
    font-family: "DM Sans";
    src: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
}

:root {
    font-family: "DM Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #111111;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --app-container: #101010;
    --main-color: #ffffff;
    --secondary-color: #4a4a4a;
    --link-color: #fafafa;
    --link-color-hover: #34c47150;
    --link-color-active: #1f1f1f;
    --link-color-active-bg: #34c471;
    --projects-section: #1f1f1f;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #34c471;
    --button-hover-bg: #00e35f;
    --search-area-bg: #ffffff;
    --star: #1f1c2e;
    --message-btn: #fff;
    --light-orange: #fee4cb;
    --orange: #ff942e;
    --light-purple: #e9e7fd;
    --purple: #4f3ff0;
    --light-cyan: #dbf6fd;
    --cyan: #096c86;
    --light-pink: #ffd3e2;
    --pink: #df3670;
    --light-green: #c8f7dc;
    --green: #34c471;
    --light-blue: #d5deff;
    --blue: #4067f9;
}

.dark:root {
    --app-container: #1f1d2b;
    --app-container: #111827;
    --main-color: #fff;
    --secondary-color: rgba(255, 255, 255, 0.8);
    --projects-section: #1f2937;
    --link-color: rgba(255, 255, 255, 0.8);
    --link-color-hover: rgba(195, 207, 244, 0.1);
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    --button-bg: #1f2937;
    --search-area-bg: #1f2937;
    --message-box-hover: #243244;
    --message-box-border: rgba(255, 255, 255, 0.1);
    --star: #ffd92c;
    --light-font: rgba(255, 255, 255, 0.8);
    --more-list-bg: #2f3142;
    --more-list-bg-hover: rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    font-size: 17px;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background: var(--app-container);
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-color);
}

#root {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
