.FormContainer {
    background: var(--link-color-active);
    padding: 16px;
    border-radius: 16px;
}

.FormContainer h1 {
    font-size: 1.5em;
    margin-bottom: 16px;
}

.Form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Child {
    display: flex;
    gap: 16px;
}

.Select {
    width: 100%;
}
