.Container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Main {
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 100%;
}

.ProjectInfo {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Header {
    display: flex;
    padding: 16px 16px 0 16px;
    width: fit-content;
    gap: 8px;
}

.Project {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ProjectClient {
    display: flex;
    gap: 4px;
}