@font-face {
  font-family: "Rubik-SemiBold";
  src: url('./public/fonts/Rubik-SemiBold.ttf');
}

@font-face {
  font-family: "Montserrat";
  src: url('./public/fonts/Montserrat-VariableFont_wght.ttf');
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik-SemiBold';
  color: #FFFFFF;
}
