.TableContainer {
    overflow-x: auto;
    margin: 16px;
    width: calc(100% - 32px);
}

.TableContainer a {
    color: var(--link-color-active-bg);
}

.TableContainer a:hover {
    color: var(--button-hover-bg);
}

.TableHead {
    display: flex;
    gap: 16px;
    height: 50px;
    align-items: center;
}

.PaginationContainer {
    display: flex;
    gap: 8px;
}

.PaginationButton {
    width: fit-content;
    color: var(--main-color);
    background: transparent;
    border: 1px solid var(--link-color-active);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
}

.PaginationButton:hover {
    border: 1px solid var(--thirdary-color);
}

.PaginationCounter {
    width: fit-content;
    height: 50px;
    margin-top: 6px;
    height: 100%;
    display: flex;
    align-items: center;
}

.TableContainer input {
    width: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    /* white-space: nowrap; */
    padding: 0.5rem;
    border: 1px solid var(--thirdary-color);
    text-align: center;
}
/* 
tbody tr:hover td {
    background: var(--link-color-active-bg);
    color: var(--app-container);
    border: 1px solid transparent;
} */

th svg {
    position: absolute;
    margin-top: 2px;
}

.SortIcon {
    width: 20px;
    height: 20px;
}

tbody tr:nth-child(2n) {
    background: rgba(0, 0, 0, 0.05);
}
